@font-face {
    font-family: 'Helvetica Neue Regular';
    src: url('../fonts/HelveticaNeueRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Helvetica Neue Medium';
    src: url('../fonts/HelveticaNeueMedium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url('../fonts/HelveticaNeueBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}