@page "/"

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell">1</div>
        <div class="mat-layout-grid-cell">2</div>
        <div class="mat-layout-grid-cell">3</div>
    </div>
</div>
