/* Color
------------------------------------------------------------------------------- */
$primary-blue: #0B1B3A;
$secondary-blue: #2B3443;
$tertiary-blue: #333D4D;

$primary-light-blue: #57BFD8;

$primary-white: #FFFFFF;
$secondary-white: #F0F0F2;
$tertiary-white: #ECECEC;

$primary-gray: #6B7385;
$secondary-gray: #DEE2E5;
$tertiary-gray: #D8D8D8;

$primary-black: #000000;

$primary-opacity: rgba(0,0,0,0.1);
$secondary-opacity: rgba(0,0,0,0.3);
$tertiary-opacity: rgba(51,61,77,0.5);

/* Fonts
------------------------------------------------------------------------------- */
$font-regular: 'Helvetica Neue Regular';
$font-bold: 'Helvetica Neue Bold';