@import '_Variables.scss';
@import '_Mixins.scss';
@import 'Header.scss';

body {
    background-color: $seconday-white;
    color: $primary-gray;
    font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
}

.main-container {
    margin: 0 auto;
    padding: 16px 20px;
    width: 1440px;
}