body {
    background-color: $secondary-white;
    color: $primary-gray;
    font-family: $font-regular, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
}

.main-container {
    border-radius: 0 0 8px 8px;
    background-color: $primary-white;
    box-shadow: 1px 2px 6px 0 rgba(0,0,0,0.06), 1px 2px 8px 1px rgba(0,0,0,0.04);
    margin: 20px auto;
    width: 1440px;
}

a {
    color: $primary-light-blue;

    &:hover {
        color: $primary-light-blue;
        opacity: .8;
    }
}

/* Tabs
------------------------------------------------------------------------------- */
.mat-tab-group {
    .mdc-tab__text-label {
        font-family: $font-bold;
        text-transform: none;
    }

    .mdc-tab--active .mdc-tab__text-label {
        color: $primary-light-blue;
        font-size: 12px;
    }
}

/* Custom Select
------------------------------------------------------------------------------- */
.select-wrapper {
    position: relative;

    .custom-select {
        background: $secondary-white;
        font-size: 13px;
        padding: 0px 22px 0px 10px;
        position: relative;

        &:focus, &:active {
            outline: 0;
            background-color: $secondary-white;
            box-shadow: none !important;
            border-color: rgba(0,0,0,0.1);
        }
    }

    &:before {
        content: '';
        position: absolute;
        top: 8px;
        right: 10px;
        width: 15px;
        height: 15px;
        background-image: url('../wwwroot/images/sprites/business-admin-sprites.png');
        background-position: 175px 50px;
        z-index: 1;
    }
}

/* Text Field
------------------------------------------------------------------------------- */
.mdc-text-field--filled {
    border-top: 1px solid rgba(0,0,0,0.1);
    border-left: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    background-color: $secondary-white;
    margin-bottom: 0;
    position: relative;
    height: 38px;
    width: 100%;
    padding-right: 32px;

    &.mdc-text-field-funnel-icon { 
        &:after {
            content: '';
            position: absolute;
            top: 6px;
            right: 10px;
            width: 15px;
            height: 20px;
            background-image: url("../images/sprites/business-admin-sprites.png");
            background-position: 133px 50px;
            z-index: 1;
        }
    }
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: rgba(51,61,77,0.5);
    font-size: 13px;
    font-family: $font-regular;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: rgba(51,61,77,0.5);
    font-size: 13px;
    font-family: $font-regular;
}

.mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-color: $primary-light-blue;
}

.mdc-text-field__input {
    height: 25px;
}

.mdc-text-field--filled .mdc-floating-label--float-above {
    transform: translateY(-75%) scale(0.75);
}

.mdc-text-field--filled::before {
    height: 30px;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label  {
    color: $primary-light-blue;
}

.mdc-text-field .mdc-text-field__input {
    caret-color: $primary-black;
}

/* Button
------------------------------------------------------------------------------- */
.mdc-button--raised:not(:disabled), .mdc-button--unelevated:not(:disabled) {
    background: $primary-button-blue;
    font-size: 16px;
    padding: 25px 50px;
    text-transform: none;
}

/* Form
------------------------------------------------------------------------------- */
.form-field {
    margin-bottom: 16px;
}