header {
    background: $primary-blue;
    min-height: 68px;

    .main-header {
        margin: 0 auto;
        padding: 0 20px;
        width: 1440px;

        .logo {
            img {
                height: 36px;
                width: 194px;
            }
        }
    }
}