<div class="custom-pagination">
    Showing Page <input type="text" class="form-control"  value="1" /> of 100
    <div class="page-button">
        <button class="btn btn-light btn-left disabled">
            <MatIcon Icon="keyboard_arrow_left"></MatIcon>
        </button>

        <button class="btn btn-light btn-right">
            <MatIcon Icon="keyboard_arrow_right"></MatIcon>
        </button>
    </div>
</div>
